.formulaire1
{
    background: #9d9d9d;
    margin-top: 30px;
    height: 30em;
}
.cont1
{
    margin: 0px;
}
.im
{
    
}
.tra
{
    
}
.tit
{
   
}
.rea
{
    
}
.act
{
    
}
.nat
{
    
}
.gen
{
    
}
.dat
{
    
}
.syn
{
    
}
.boutton1
{
    
    color: #985f0d;
}